.navbar {
  color: antiquewhite;
  background-image: url("https://img.freepik.com/free-photo/plain-backdrop-decorative-gray-textured_1136-349.jpg?w=1060&t=st=1720625298~exp=1720625898~hmac=40b34fbe79919104e7e3b67533740b1cad9b7af19ee4720c76c41e9b0b8bdea8");
}
.fa {
  font-size: 32px;
}
.badge {
  background-color: rgb(3, 73, 3);
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 18px;
}
